.me{
    height: 300px;
    width:300px;
    border-radius: 60%;
    margin-top: 10%;
    box-shadow: 10px 10px 5px #888888;
}
body{
 color: white;
}

.social{
padding-top: 4%;
    width: 18%;
    display: inline-block;

}
h1{

    font-size: 400%;
    font-family: 'Lobster', cursive;

}
i{
    text-shadow: 5px 5px 3px #888888;
}
i:hover{
 text-shadow: 10px 10px 5px #888888;
transition: 0.6s;
}
h2{
    padding-top: 10%;
    font-size: 300%;
    font-family: 'Bree Serif', serif;

}

.skill{
    display: inline-block;
    padding: 2%;
}
.size{
    box-shadow:10px 10px 5px #888888 ;
    height: 60%;
    width: 80%;
}
.project {
    height: 300px;
    width: 350px;
    display: inline-block;
    box-shadow: 5px 5px 3px #888888;
}
.projectSet{
display: inline-block;
    padding: 2%;


}
.project:hover{

    box-shadow: 10px 10px 5px #888888;
    transition: 0.6s;
}
h2{
    padding: 0px;
    font-family: 'Lobster', cursive;
font-size: 35px;

}

#loading {
		-webkit-animation: rotation 2s infinite 
			linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(170deg);
		}
		to {
				-webkit-transform: rotate(190deg);
		}
}
